fastapi
uvicorn
prisma
python-dotenv
pyjwt
passlib[bcrypt]
python-multipart
google-generativeai
requests
asyncssh
reportlab
markdown
python-jose[cryptography]
argon2-cffi
pydantic-settings
email-validator
beautifulsoup4
pydantic
google-genai
phonenumbers
httpx
